body {
  font-family: "Manrope", sans-serif;
  color: #121212;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #121212;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.active {
  opacity: 0.5;
}

.header-wrapper {
  margin-bottom: 70px;
  padding-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.nav-link {
  margin-right: 60px;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  opacity: 0.5;
}

.intro {
  margin-bottom: 150px;
}

.intro-title {
  margin-bottom: 30px;
  max-width: 956px;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.8px;
}

.intro-text-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  width: 1150px;
  height: 500px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-image: url("../img/intro-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-text {
  max-width: 430px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: #ffffff;
}

.about {
  margin-bottom: 150px;
}

.about-title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.about-text {
  margin-bottom: 50px;
  max-width: 1048px;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -1.35px;
}

.about-link {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #ad1818;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: #ffffff;
}
